@tailwind base;
@tailwind components;
@tailwind utilities;
// scrolling effect and style
@layer base {
  html {
    @apply scroll-smooth;
  }
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

canvas {
  margin: auto;
}

.img-animation {
  animation-name: animate-img;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
.anime-1,
.anime-2 {
  animation-name: bounce-img;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.anime-2 {
  animation-delay: 03s;
}

@keyframes animate-img {
  0% {
    opacity: 0;
    position: initial;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    position: absolute;
  }
}
@keyframes bounce-img {
  0% {
    transform: translate3d(0, -10px, 100px);
  }
  50% {
    transform: translate3d(0, 0px, 0);
  }
  100% {
    transform: translate3d(0, -10px, 100px);
  }
}

// border-2 rounded-[50%] h-[68%] w-[61%] absolute top-[67px] left-[107px]

.line-animation {
  // overflow: hidden;
  // width: 330px;
  // height: 313px;
  // border-radius: 50%;
  // border: 2px solid red;
  // box-shadow: 60px -60px 0 2px transparent, -60px -60px 0 2px transparent,
  //   -60px 60px 0 2px transparent, 60px 60px 0 2px transparent,
  //   0 0 0 2px transparent;
  // position: absolute;
  // animation: border 0.4s ease 1 forwards;
  // top: 14%;
  // left: 21%;
}

@keyframes border {
  0% {
    box-shadow: 600px -60px 0 2px #e94e3d, -60px -60px 0 2px #e94e3d,
      -60px 60px 0 2px #e94e3d, 60px 60px 0 2px #e94e3d, 0 0 0 2px #e94e3d;
  }
  25% {
    box-shadow: 0 -125px 0 2px #e94e3d, -60px -60px 0 2px #e94e3d,
      -60px 60px 0 2px #e94e3d, 60px 60px 0 2px #e94e3d, 0 0 0 2px #000000;
  }
  50% {
    box-shadow: 0 -125px 0 2px #e94e3d, -125px 0px 0 2px #e94e3d,
      -60px 60px 0 2px #e94e3d, 60px 60px 0 2px #e94e3d, 0 0 0 2px #000000;
  }
  75% {
    box-shadow: 0 -125px 0 2px #e94e3d, -125px 0px 0 2px #e94e3d,
      0px 125px 0 2px #e94e3d, 60px 60px 0 2px #e94e3d, 0 0 0 2px #000000;
  }
  100% {
    box-shadow: 0 -125px 0 2px #e94e3d, -125px 0px 0 2px #e94e3d,
      0px 125px 0 2px #e94e3d, 120px 40px 0 2px #e94e3d, 0 0 0 2px #000000;
  }
}
